# Ignore local data and caches so they are NOT copied into the container image
data/
indexes/
assets/

# Python environment and editor files
.venv/
venv/
__pycache__/
*.pyc

# Secrets and config
.env
*.sqlite3

# Git
.git/
.gitignore

# Local IDE
.vscode/

# Lokalne configi
.env

infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
